@charset "UTF-8";
*{
	box-sizing: border-box;
	text-align: center;
	
}

html,
body{
	height: 100%;
	align-items: center;
}

body {
	display: flex;
	flex-direction: column;
}

selction {
	flex: 1;
}

.container {
	text-align: right;
}

.logo {
	display: flex;
  justify-content: center;
}
